@import 'mixin';
a {
    text-decoration: none;
}

button,
a {
    display: inline-block;
    border-radius: 4px;
    background-color: #274c5e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.1em;
    padding: 5px;
    transition: all 0.3s;
    cursor: pointer;
}


/*=====  End of Global  ======*/


/*-------Layout-----*/

// .container {
//     max-width: 1060px;
//     width: 90%;
//     margin: 0 auto;
// }

// main {
//     /* helper for footer */
//     min-height: calc(100vh - 70px);
// }

/*-------header-----*/

// header {
//     background-color: black;
//     text-align: center;
// }

// header h1 {
//     margin: 0;
//     padding: 10px;
//     color: rgb(248, 247, 247);
//     font-size: 3em;
//     font-family: impact, 'Segoe UI', 'Courier New', Courier, monospace;
// }


/*----Main------*/


/*----------  Gallery  ----------*/

.grid-container .mid-grid {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    text-align: center;
    // grid-gap: 10px;
    // padding: 10px;
    grid-gap: 15px;
    margin: 10px 0 .3rem;
}

.grid-container .item-wrp {
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 2px;

}



/*=============================================
=            Meme Container            =
=============================================*/

.meme-container {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 1rem;
}

.meme-control {
@include flex;
display: grid!important;
grid-template-columns: auto auto;
grid-gap: 28px;
} 

.meme-container > button {
    margin: 5px;
    z-index: 1;
}

.txt-editor {
    padding: 5px 10px;
    border: 1px #f4511e solid;
    border-radius: 5px;
    margin: 5px;
}

.memeCanvas {
    border: 2px solid white;
    border-radius: 2px;
    margin: 5px;
    // box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

input[type=number] {
    width: 45px;
}

#dl {
    margin:5px;
}


/*=====  End of Meme Container  ======*/


/*----------  contact  ----------*/


/*----Footer----*/

// footer {
//     height: 50px;
//     background-color: black;
// }


/*=============================================
=            Helpers            =
=============================================*/


/* vertically centering everything: */

.vertical-center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clean-btn {
    border: none;
    background: transparent;
    padding: 0;
}

.hidden {
    display: none;
}


/*=====  End of Helpers  ======*/


/*---flex---*/

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-full {
    flex: 1;
}